services:
    - Dibi\Connection(%dibi%)
    - \Sakura\Order\Factory
    - \Sakura\Order\Table(%order.name%, %order.id%, %order.depth%, %order.order%, %order.parent%)
    - \SakuraDibi\Order\Factory
    - \SakuraDibi\Order\Repository
    - \Sakura\Order\Tree
    - \Sakura\Recursive\Factory
    - \Sakura\Recursive\Table(%recursive.name%, %recursive.id%, %recursive.parent%)
    - \SakuraDibi\Recursive\Factory
    - \SakuraDibi\Recursive\Repository
    - \Sakura\Recursive\Tree
    - \Sakura\Traversal\Factory
    - \Sakura\Traversal\Table(%traversal.name%, %traversal.id%, %recursive.left%, %recursive.right%, %recursive.parent%)
    - \SakuraDibi\Traversal\Factory
    - \SakuraDibi\Traversal\Repository
    - \Sakura\Traversal\Tree
