services:
    - Dibi\Connection(%dibi%)
    - \Sakura\Order\Factory
    - \Sakura\Order\Table(%order.name%, %order.id%, %order.order%, %order.depth%, %order.parent%)
    - \SakuraDibi\Order\Factory
    - \SakuraDibi\Order\Repository
    - \Sakura\Order\Tree
